#highlight
{
    background-color: #f0f0f0
}

.clPrevImg
{
    min-height:200px;
}

.clPrevImg img
{
    padding: 1px 3px 1px 3px;
    max-height: 200px;
    max-width: 200px;
}

.spacer
{
    height: 20px;
}

#sizeSlider, #numSlider
{
    max-width: 400px;
}
